ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #258e25;
    overflow: hidden;

}
li{
    float: left;
}
li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    color: white;
    font-family: "Comic Sans MS";
    text-align: center;
    font-size: 12px;
}
li a:hover{
    background-color: black;
}
  cars{
    background-color: brown;
    padding: 20px;
    font-style: italic;
    margin: 20px;
    border: 2px dotted black;

}